.footer-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px; /* Material toolbar height */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-right a {
  color: white;
  text-decoration: none;
  margin-left: 8px;
}
