<div class="container">
  <div class="student-action">
    <mat-divider></mat-divider>

    <a mat-flat-button color="primary" class="small-btn" routerLink="/all-students">
      All Students
    </a>

    <a mat-flat-button color="primary" class="small-btn" routerLink="/add-student">
      Add Student
    </a>

    <a mat-flat-button color="primary" class="small-btn" routerLink="/dekete-student">
      Delete Student
    </a>

    <mat-divider></mat-divider>
  </div>

  <div class="student-section">
    <app-tab-content-first></app-tab-content-first>

  </div>
</div>
  