.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.student-action {
    width: 20%;
    flex-direction: column;
    background-color: lab(93.97% -0.87 2.4);
    display: flex;
}

.student-section {
    width: 80%;
}