<div class="login-container">
    <div class="login-pic">
        <img src="./../../../assets/images/login.jpg" alt="Login Picture" />
    </div>
  <div class="login-form">
    <h2>Login</h2>
    <form>

      <mat-form-field appearance="fill">
        <mat-label>Username or Email</mat-label>
        <input matInput placeholder="xyz@gmail.com" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          matIconButton
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <a href="forgetPassword">forgot password?</a>
      <button class="btn" mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
</div>
