/* In styles.css */
.my-custom-tabs .mat-tab-label {
  min-width: 25px;
  padding: 10px 20px;
  /* Reduced for better UX */
  background-color: transparent;
  color: #eb0707;
  opacity: 1;
  font-weight: 700;
}

.my-custom-tabs .mdc-tab__text-label {
  color: #eb0707;
}

/* Optional: Style active tab */
.my-custom-tabs .mat-tab-label-active {
  background-color: #eb0707;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .my-custom-tabs .mat-tab-label {
    padding: 8px 16px;
    min-width: 20px;
  }
}

.mt-10px {
  padding-top: 50px;
}