<div class="overflow-x-auto">
  <table class="table-auto border w-full">
    <thead>
      <tr>
        <th
          *ngFor="let col of columns"
          class="border px-4 py-2 cursor-pointer select-none"
          (click)="col.sortable ? sortColumn(col) : null"
        >
          {{ col.header }}

          <!-- Show sorting icon only for sortable columns -->
          <mat-icon *ngIf="col.sortable">
            <!-- If this is the active column, show direction -->
            <ng-container *ngIf="sortField === col.field; else unsorted">
              {{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
            </ng-container>
            <!-- Default icon for unsorted columns -->
            <ng-template #unsorted>unfold_more</ng-template>
          </mat-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paginatedData" (dblclick)="onRowDblClick(row)">
        <td *ngFor="let col of columns" class="border px-4 py-2" (dblclick)="onRowDblClick(row)">
          {{ row[col.field] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
